.container {
    padding: 20px;
}

.header {
    text-align: center;
}

.teaGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    justify-items: center;
}

.teaImage:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.teaItem {
    text-align: center;
    cursor: pointer;  
}

.teaImage {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer;  
}
