.container {
  background-color: #511c29;
  color: #ffff;
  border-radius: 20px;
  display: grid;
  grid-template-areas:
    "titleImg . exitBtn"
    "titleImg details .";
  gap: 20px;
  padding: 30px;
  justify-content: stretch;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto 1fr;
  width: 50%;
  position: fixed;
  top: 58%;
  right: 0;
  max-height: 80%;
  transform: translateY(-50%);
  z-index: 999; 
}

.container > svg {
  grid-area: exitBtn;
  justify-self: end;
}

.container > div:nth-child(2) {
  grid-area: titleImg;
  margin-top: 14px;
}

.container > div:last-child {
  grid-area: details;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "titleImg exitBtn"
      "details details";
    gap: 15px;
    margin: 10px auto;
  }
}

@media (max-width: 375px) {
  .container {
    margin: 2px auto;
    width: 100%;
    right: 0;
    left: 0;
    padding: 20px;
    max-height: 90%;
  }
}