.footer {
  background-color: #2f5d43;
  color: white;
  padding: 1.2rem 3.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-gap: 1.25rem;
  align-items: start;
  font-size: 1.155rem;
  width: 100%; 
  box-sizing: border-box;
}

.footerSection h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.331rem;
}

.footerSection p {
  margin-bottom: 0.625rem;
  font-size: 1.155rem;
}

.footerSectionContact {
  margin: 0;
  text-align: left;
}

.footerSectionContact h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.331rem;
}

.footerSectionContact p {
  margin-bottom: 0.625rem;
  font-size: 1.155rem;
}

.footerSectionSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.footerSectionSocial h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.331rem;
}

.socialIcons {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
  font-size: 2rem; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.socialIcons svg {
  transition: transform 0.3s ease, color 0.3s ease;
}

.socialIcons svg:hover {
  color: #eea479;
  transform: scale(1.2);
}

.footerBottom {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  border-top: 1px solid #c9c9c9;
  margin-top: 1.875rem;
  font-size: 1.155rem;
}

.footerBottom p {
  margin: 0;
}

.footerBottom a {
  color: white;
  text-decoration: none;
  margin-left: 0.625rem;
  font-size: 1.155rem;
}

.footerBottom a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 1rem; 
    gap: 1.5rem; 
  }

  .footerSection, .footerSectionContact, .footerSectionSocial {
    width: 100%; 
    text-align: center; 
  }

  .footerSectionSocial {
    align-items: center; 
  }

  .socialIcons {
    justify-content: center; 
  }
  
  .footerBottom {
    justify-content: center;
    gap: 8px;
  }
}

@media (max-width: 375px) {
  .footer {
    padding: 0.75rem;
    gap: 1rem; 
  }

  .footerSection, .footerSectionContact, .footerSectionSocial {
    font-size: 0.9rem; 
  }

  .socialIcons {
    font-size: 1.2rem;
  }
}
